<form #projectForm="ngForm">
  <div class="form-group">
    <label for="playName">どのスポーツをしたい？</label>
    <div>
      <select id="play"  required>
        <option *ngFor="let play of plays" 
        [value]="play"
        [(ngModel)]='playName'
        ngDefaultControl>{{play}}</option>
      </select>
    </div>
    <label for="term">どれくらい遊びたい？</label>
    <div>
      <select id="hour"  required>
        <option *ngFor="let hour of hours" 
        [value]="hour"
        [(ngModel)]="term"
        ngDefaultControl>{{hour}}h</option>
      </select>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <input MatInput
            [(ngModel)]="birthday"
            [value]="picker" 
            [min]="minDate" 
            [max]="maxDate"
            [matDatepicker]="picker" 
            placeholder="Choose a date"
            id="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    
    <div>
      <label for="place">場所はどこ？</label>
      <mat-form-field>
        <input id="place" [(ngModel)]="placeName"/>
      </mat-form-field>
    </div>
    <div>
      <label for="price">いくら?</label>
      <mat-form-field>
        <input id="price" [(ngModel)]="price"/>
      </mat-form-field>
    </div>
    <div>
      <button mat-button (click)="post()">Togetherしよう！</button>
    </div>
</div>
</form>